[submodule "Cr3dOv3r"]
	path = Cr3dOv3r
	url = https://github.com/D4Vinci/Cr3dOv3r
[submodule "trape"]
	path = trape
	url = https://github.com/boxug/trape
[submodule "tweep"]
	path = tweep
	url = https://github.com/haccer/tweep
[submodule "WhatsSpy-Public"]
	path = WhatsSpy-Public
	url = https://gitlab.maikel.pro/maikeldus/WhatsSpy-Public
[submodule "linkedin2username"]
	path = linkedin2username
	url = https://github.com/initstring/linkedin2username
